#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
.container {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 5fr;

	padding-top: 82px;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
}
input {
	width: 40%;
	height: 50px;
	border-radius: 30px;
	font-size: 18px;
	padding: 5px;
}
.days {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 100px;
}
.today-info,
.tomorrow-info {
	margin: 30% 0;
	border-radius: 30px;
	background-color: white;
	height: 50%;
	padding: 50px;
	font-size: 36px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.today-info {
	margin-left: 100px;
}
.tomorrow-info {
	margin-right: 100px;
}

.info-middle,
.info-bottom {
	display: flex;
	gap: 20px;
}
.icon {
	margin-left: 100px;
}
